<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
    <style type="text/css">
        body{padding-top:30px;}

        .glyphicon {  margin-bottom: 10px;margin-right: 10px;}

        small {
            display: block;
            line-height: 1.428571429;
            color: #999;
        }
    </style>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Вчитель</a>
        </div>
        <ul class="nav navbar-nav">
            <li ><a href="/personnel/">Головна</a></li>
            <li ><a href="/personnel/pages">Сторінки</a></li>
            <li><a href="/personnel/classes/all">Класи</a></li>
            <li><a href="/personnel/subjects/my">Придмети</a></li>
            <li ><a href="/personnel/rooms">Приміщення</a></li>
            <li><a href="/login">Увійти</a></li>
        </ul>
    </div>
</nav>
<!------ Include the above in your HEAD tag ---------->
<form action="/personnel/pages/add" method="post" class="form-horizontal">
    <fieldset>

        <!-- Form Name -->
        <legend>Створити сторінку журналу</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="pageNumber">Номер стоірнки</label>
            <div class="col-md-4">
                <input id="pageNumber" name="pageNumber" type="number" placeholder="Номер сторінки" class="form-control input-md">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="pageType">Тип сторінки</label>
            <div class="col-md-4">
                <input id="pageType" name="pageType" type="text" placeholder="Тип сторінки" class="form-control input-md">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="groupNumber">Номер підгрупи</label>
            <div class="col-md-2">
                <input id="groupNumber" name="groupNumber" type="number" placeholder="Номер підгрупи" class="form-control input-md">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="description">Опис</label>
            <div class="col-md-4">
                <input id="description" name="description" type="text" placeholder="Опис" class="form-control input-md">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="subjectsIdSubject">Оберіть придмет: </label>
            <div class="col-md-4">
            <select class="form-control input-md" name="subjectsIdSubject" class="form-control" id="subjectsIdSubject">
                {{#subject}}
                <option>{{id}} - {{name}}</option>
                {{/subject}}
            </select>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="personnelIdEmployee">Оберіть викладача: </label>
            <div class="col-md-4">
            <select class="form-control input-md" name="personnelIdEmployee" class="form-control" id="personnelIdEmployee">
                {{#personnel}}
                <option>{{id}} - {{surname}} {{name}}</option>
                {{/personnel}}
            </select>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="classesIdClasses">Оберіть клас: </label>
            <div class="col-md-4">
            <select class="form-control input-md" name="classesIdClasses" class="form-control" id="classesIdClasses">
                {{#classes}}
                <option>{{id}} - {{name}}</option>
                {{/classes}}
            </select>
            </div>
        </div>

        <!-- Button (Double) -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="button1id">Double Button</label>
            <div class="col-md-8">
                <button type="submit" id="button1id" name="button1id" class="btn btn-success">Create</button>
                <a href="/personnel/pages"><button type="button" id="button2id" name="button2id" class="btn btn-danger">Cancel</button></a>
            </div>
        </div>

    </fieldset>
</form>
</body>
</html>