<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subject</title>
    <style type="text/css">
        body{padding-top:30px;}

        .glyphicon {  margin-bottom: 10px;margin-right: 10px;}

        small {
            display: block;
            line-height: 1.428571429;
            color: #999;
        }
    </style>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Admin</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/admin/">Головна</a></li>
            <li><a href="/admin/pupils/">Учні</a></li>
            <li><a href="/admin/personnel/">Вчителі</a></li>
            <li><a href="/admin/classes/">Класи</a></li>
            <li><a href="/admin/subjects/">Придмети</a></li>
            <li><a href="/admin/rooms/">Приміщення</a></li>
            <li><a href="/login">Увійти</a></li>
        </ul>
    </div>
</nav>
<!------ Include the above in your HEAD tag ---------->
<form action="/admin/subject/add" method="post" class="form-horizontal">
    <fieldset>

        <!-- Form Name -->
        <legend>Додати данні</legend>

        <!-- Text input-->
        <div style="display: none" class="form-group">
            <label class="col-md-4 control-label" for="id">Id</label>
            <div class="col-md-4">
                <input id="id" name="id" type="number" class="form-control input-md">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="name">Назва придмету</label>
            <div class="col-md-4">
                <input id="name" name="name" type="text" placeholder="Назва придмету" class="form-control input-md">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="name_subjectCutty">Скорочено</label>
            <div class="col-md-4">
                <input id="name_subjectCutty" name="name_subjectCutty" type="text" placeholder="Скорочено" class="form-control input-md">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="subgroup">Підгрупа</label>
            <div class="col-md-4">
                <input id="subgroup" name="subgroup" type="number" placeholder="Підгрупа" class="form-control input-md">

            </div>
        </div>



        <div class="form-group">
            <label class="col-md-4 control-label" for="BRANCH_KNOWLEDGE_Id_Branch_knowledge">Оберіть галузь знань: </label>
            <div class="col-md-4">
                <select class="form-control input-md" name="BRANCH_KNOWLEDGE_Id_Branch_knowledge" class="form-control" id="BRANCH_KNOWLEDGE_Id_Branch_knowledge">
                    {{#q}}
                    <option>{{id}} - {{name}}</option>
                    {{/q}}
                </select>
            </div>
        </div>


        <!-- Button (Double) -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="button1id">Double Button</label>
            <div class="col-md-8">
                <button type="submit" id="button1id" name="button1id" class="btn btn-success">Додати</button>
                <a href="/admin/subjects"><button type="button" id="button2id" name="button2id" class="btn btn-danger">Відмінити</button></a>
            </div>
        </div>

    </fieldset>
</form>
</body>
</html>